body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
    background:black;
    color:white;
}
/*======*/
/*CSS RESET*/
header{background-color:#03A9F4;padding:14px;box-shadow:01px3pxrgba(0,0,0,0.12),01px2pxrgba(0,0,0,0.24);}h1,h2{font-weight:300;}header>h1{font-weight:300;font-size:24px;margin:0;color:#FFFFFF;}h2{font-size:24px;margin:24px0;}h2>.currency{color:#0288D1;}.principal{color:#0288D1;}.interest{color:#EF6C00;}input[type=text]{-webkit-appearance:none;width:150px;height:24px;padding:3px8px;font-size:14px;line-height:1.42857143;color:#555;border:1pxsolid#ccc;border-radius:2px;-webkit-box-shadow:none;box-shadow:none;}table{border-collapse:collapse;font-weight:300;}th{text-align:right;font-weight:400;}td{text-align:right;padding:0.5rem;}th,td{border:solid1px#EEEEEE!important;padding:1px4px;}label{display:inline-block;width:80px;text-align:right;margin-right:4px;}.content{padding:  0 20px;margin-top: 20px;}.bar{display:inline-block;border:none;height:8px;}.bar.principal{background-color:#0288D1;margin-right:.5px;}.bar.interest{background-color:#EF6C00;margin-left:.5px;}.stretch{width:100%;padding-left:0;padding-right:0;}.flex{display:-webkit-flex;display:flex;}.currency::before{content:"$";}.left{text-align:left;}.form>div{margin:6px0;}select, input, button {
    border-width: 0px;
}
/*======*/
/*======*/
/*======*/
.loading{
    font-size:1.5vw;
    width:100%;
    height:100vw;
    position: fixed;
    top: 0;
    padding-top:30px;
    background: black;
    z-index: 999;
    display: block;
    margin: 0;
    transition:all 500ms;
    color:limegreen;
    font-family:'courier';
}
.loading.hidden{
    display:none;
}
.blinking-cursor {
  animation: 400ms blink infinite;
}

@keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}


.navBar{
    width: 20%;
    padding:5%;
    padding:0;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    right: 0px;
    box-sizing: border-box;
    top: 11vw;
    border-top: 10px solid darkred;
}
.navBar ul {
    width:100%;
    list-style: none;
    margin:0;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-padding-start:0;
    background-color: black;
}
.navBar ul li{
    display:block;
    border: none;
    border-bottom: 10px solid darkred;
}
.navBar ul li button{
    font-size: 18px;
    padding: 10px 5px 35px 5px;
    color:white;
    width:100%;
    overflow:hidden;
    background:none;
    border: none;
}
.navBar ul li button img{
    display:block;
    width:100%;
    margin-top:10px;
}


.activePost{
    width: 77%;
    background: rgba(255,255,255,.09);
    overflow:hidden;
    padding-top: 4vw;
    z-index: 99;
    position: absolute;
}
.activePost h2, .activePost h3{
    font-size: 2.5vw;
    margin-top: 0px;
    font-weight:100;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0px;
}

.activePost h3{
    font-size:1vw;
    color:green;
    text-align:right;
    display: block;
    margin: 1em 0;
    width: 85%;
}
.activePost h3 span{
    color:#333;
    font-size:0.7vw;
}

.activePost a{
    text-align: right;
    width: 85%;
    color:limegreen;
    display: block;
    text-decoration: none;
    font-size: .9em;
    text-transform: lowercase;
    margin-bottom:3em;
    margin-top:3px;
}

.activePost a:hover{
    color:fuchsia;
}
.activePost #ups{
  position: fixed;
  top: 3.5vw;
  left: 30px;
  font-weight: bold;
  color: fuchsia;
  font-size: 1.5vw;
}
.activePost #downs{
 position: fixed;
 top: 5.75vw;
 left: 30px;
 font-weight: bold;
 color: limegreen;
 font-size: 1vw;
}

.activePost ul{
    list-style:none;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
.activePost ul li{
    color:white;
    line-height: 1.25em;
}
.activePost ul li span,.activePost ul li span .commentPoints{
    color:limegreen;
    font-size: .75em;
    display: block;
    opacity: 0.7;
    padding-top: 2px;
    font-weight: 700;
}
.activePost ul li span .commentPoints{
    color:#ccc;
    font-size:1em;
    display:inline-block;
    padding-left:10px;
    margin-top: -2px;
}


.activePost img, .activePost video{
    max-width: 70%;
    min-width:40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding: 0 0 1.5em 0;
    border-bottom:1px dashed white;
}

.comments{
    width:70%!important;
    margin-left: auto;
    margin-right: auto;
}
.comments li{
    border-bottom:1px dashed red;
    margin: 10px 7px;
    padding-left:0px;
    padding-bottom: 7px;
}

ul.child-1{
    border-right:1px solid #999;
    padding-right:5px;
}
ul.child-2{
    border-right:1px solid #777;
    padding-right:5px;
}
ul.child-3{
    border-right:1px solid #555;
    padding-right:5px;
}
ul.child-4{
    border-right:1px solid #333;
    padding-right:5px;
}
ul.child-5{
    border-right:1px solid #222;
    padding-right:5px;
}
ul.child-6{
    border-right:1px solid #111;
    padding-right:5px;
}
ul.child-7{
    border-right:1px solid #000;
    padding-right:5px;
}

ul[class*='child']{
    border-left-width:3px;
    border-left-style:solid;
    padding-left: 30px;
}

input[type=checkbox]{
    transform:scale(1.5,1.5);
    visibility:hidden;

}

input[type=checkbox]:not(:checked):after{
    display:block;
    content:'+';
    color: limegreen;
    font-size:25px;
    font-weight:bold;
    margin-top:-14px;
    visibility:visible;
}
input[type=checkbox]:checked:after{
    display:block;
    content:'-';
    color: darkred;
    font-size:25px;
    font-weight:bold;
    margin-top:-14px;
    visibility:visible;
}


input[type=checkbox]:not(:checked) + ul {
    height:0px!important;
    overflow:hidden;
    opacity:0;
    transition:all 500ms;
}
input[type=checkbox]:checked + ul{
    height:100%!important;
    opacity:1;
    overflow:auto;
    transition:all 500ms;
}


li + input[type=checkbox]{
    margin-left:-20px;
    margin-top: -35px;
    float:left;
}

.titling{
    position:fixed;
    top:0px;
    right: 0px;
    width: 100%;
    border-left: none;
    height: 4.25vw;
    box-sizing: border-box;
    z-index: 99;
    background: rgba(0,0,0,0.7);
    border-bottom: 2px solid purple;
}

.titling h1{
    font-size: 3.5vw;
    line-height: 5px;
    text-align: right;
    width: 99%;
    margin-right: 1px;
}
.titling input{
    background: rgba(255,255,255,0.15);
    border:none;
    border-radius: 2px;
    width: 75%;
    margin-right:2%;
    color: white;
    padding-left: 5px;
    font-size: 2vw;
    line-height:0;
    box-sizing: content-box;
    display:inline-block;
    height: 98%;
    margin-bottom: 0px;
    vertical-align: bottom;
}
.titling button{
    background:darkred;
    color: white;
    border: 0px solid darkred;
    height: 100%;
    width: 15%;
    display:inline-block;
    font-size: 1.5vw;
    text-transform: lowercase;
    transition:all 500ms;
    padding: 0px;
    box-sizing: content-box;
}
.titling button:hover{
    background:white;
    color:green;
    border: 2px solid green;
}
.submit{
    height: 3vw;
    width: 18.5%;
    float: right;
    margin-top: .5vw;
}
.autocomplete-suggestions{
    /*display:none;*/
}
.autocomplete-suggestions{
    width:19.5%;
    position:fixed;
    right:0px;
    top:11vw;
    background:rgba(0,0,0,0.8);
    border:0.5px solid white;
    color:red;
    height:auto;
    max-height:15em;
    overflow:scroll;
}